body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

nav {
    background-color: #7fbe74;
    color: #000000;
    padding: 10px 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.2em;
    font-weight: bolder;
    color: #75f17b;
    text-decoration: none;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links li a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.nav-links li a.active {
    color: #75f17b; /* Change color for active link */
}

.big-text {
    font-size: 3em;
    color: #1d2e1a;
    text-align: center;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
    }
    
    .nav-links {
        margin-top: 20px;
    }
    
    .nav-links li {
        display: block;
        margin: 10px 0;
    }
}
